{% extends 'WurstpressCoreBundle::layout.html.twig' %}

{% block body -%}

        <div class="span10">

        <h2>{{ 'post.list.label'|trans({}, 'WurstpressCoreBundle')|capitalize }}</h2>

        {{ knp_pagination_render(entities) }}

        <table class="table">
            <thead>
            <tr>
                <th>{{ 'post.title_and_content.label'|trans({}, 'WurstpressCoreBundle')|capitalize }}</th>
                <th>{{ 'post.actions.label'|trans({}, 'WurstpressCoreBundle')|capitalize }}</th>
                <th>{{ 'post.created_updated.label'|trans({}, 'WurstpressCoreBundle') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <strong>{{ entity.title }}</strong><br />
                        {{ entity.content|striptags|slice(0,300) }}
                    </td>
                    <td class="span2">
                        <ul class="inline">
                            <li>
                                <a href="{{ path('wurstpress_post_show', { 'id': entity.id }) }}" class="btn btn-mini">{{ 'post.show.label'|trans({}, 'WurstpressCoreBundle') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('wurstpress_post_edit', { 'id': entity.id }) }}" class="btn btn-mini btn-success">{{ 'post.edit.label'|trans({}, 'WurstpressCoreBundle') }}</a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        {% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}
                        {% if entity.updated %}<br />{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(entities) }}

        <ul class="inline">
            <li>
                <a href="{{ path('wurstpress_post_new') }}" class="btn">{{ 'post.create.label'|trans({}, 'WurstpressCoreBundle')|capitalize }}</a>
            </li>
        </ul>
        </div>
{% endblock %}
