{% extends 'WurstpressCoreBundle::layout.html.twig' %}

{% block body -%}

    <div class="span10">

        <h1>{{ 'post.create.label'|trans({}, 'WurstpressCoreBundle')|capitalize }}</h1>

        <form action="{{ path('post_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            {% include 'WurstpressCoreBundle:Post:form.html.twig' with { 'form': form } %}
            <p>
                <button type="submit" class="btn btn-primary">{{ 'post.create.label'|trans({}, 'WurstpressCoreBundle')|capitalize }}</button>
            </p>
        </form>

        <ul class="inline">
            <li>
                <a href="{{ path('post') }}" class="btn">{{ 'post.back_to_list.label'|trans({}, 'WurstpressCoreBundle')|capitalize }}</a>
            </li>
        </ul>
    </div>
{% endblock %}
